<!DOCTYPE html>
<html>
<head>
	<title>Proyecto Algebra Lineal</title>
	<script type="text/javascript" src="../controllers/jquery-3.1.0.min.js"></script>
	<!-- <script type="text/javascript" src="../controllers/angular.min.js"></script> -->
	<script type="text/javascript" src="../controllers/logic.js"></script>
	<script type="text/javascript" src="../controllers/fraccion.js"></script>
	<script type="text/javascript" src="../controllers/matriz.js"></script>
	<script type="text/javascript" src="../controllers/bootstrap.min.js"></script>
	<script type="text/javascript" src="../controllers/index.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
	<ul class="nav nav-tabs">
  		<li role="presentation" id="btnAgregarMatriz">
  			<a href="#">
  				Agregar Matriz
  			</a>
  		</li>
  		<li role="presentation" class="dropdown">
  			<!-- <a href="#">Crear Matriz</a> -->
		    <<!-- a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
		      Dropdown <span class="caret"></span>
		    </a> -->
		    <!-- <ul class="dropdown-menu">
		      ...
		    </ul> -->
		</li>
	</ul>
	<div class="container theme-showcase" role="main">
		<div class="matrices" id="originales"></div>
		<input type="text" id="operation">
		<button id="btnOperar">Operar</button>
		<div class="matrices" id="resultados"></div>
	</div>
</body>
</html>