<!DOCTYPE html>
<html>
<head>
	<title>Proyecto Algebra Lineal</title>
	<script type="text/javascript" src="../controllers/jquery-3.1.0.min.js"></script>
	<!-- <script type="text/javascript" src="../controllers/angular.min.js"></script> -->
	<script type="text/javascript" src="../controllers/logic.js"></script>
	<script type="text/javascript" src="../controllers/fraccion.js"></script>
	<script type="text/javascript" src="../controllers/matriz.js"></script>
</head>
<body ng-app="proyectoLineal">
	<matriz columnas=1 filas=2></matriz>
</body>
</html>